#compareBackground{
    background-image: linear-gradient(rgb(175, 131, 59),rgb(221, 168, 83),rgb(175, 131, 59));
    padding: .5rem;
    border-radius: 10px;

}
#compareBackground2{
   background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138),
        rgb(24, 59, 78)
        );
    border-radius: 10px;
}
#compareContainer{
 display: flex;
 justify-content: center;
 column-gap: 20rem;
 text-align: center;
 padding: 2rem
    
}

#compareBlurb{
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
#selectTrailerId{
    margin: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed';
    box-shadow: 0 0 10px;
    
}
#selectTrailerMake{
    margin: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed';
    box-shadow: 0 0 10px;

}


#pleaseSelect{
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
    color: white;
    
}
#filteredTrailers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 5rem;
}
#trailerInfoContainer{
    display: flex;
    column-gap: 2rem;
    
    
}
#trailerInfoTitle{
    font-size: 2rem;
    font-family: 'bebas neue';
}
#trailerInfo{
    font-size: 1.5rem;
    font-family: 'Roboto Condensed';
    background-image: linear-gradient(rgb(175, 131, 59),rgb(221, 168, 83),rgb(175, 131, 59));
    padding: 1rem;
    border-radius: 10px;
}


#trailerImg{
    height: 19rem;
    border-radius: 10px;
}
#trailerPrice{
    font-weight: 500;
}