#compToolContainer{
    background-image:linear-gradient(rgb(175, 131, 59),rgb(221, 168, 83),rgb(175, 131, 59));
    border-radius: 10px;
}
#compTitle{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto Condensed';
    padding: .5rem;
}
.comps{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 1rem;

}
#brakesContainer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    grid-area: 1;
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black; 
}
#selectionContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-family: 'Roboto Condensed';
    margin: 1rem;
}
#couplingContainer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    grid-area: 1/3;
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black;   

}
#exhaustContainer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    grid-area: 2/3;
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black;    
}
#fuelContainer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    grid-area: 2/1;
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black;    
}
#safeLoadingContainer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    grid-area: 2/2;
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black;     
}
#steeringMechContainer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    grid-area: 1/2;
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black;    
}
#suspContainer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    grid-area: 3/1;
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black;     
}
#frameContainer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    grid-area: 3/2;
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black;     
}
#tiresContainer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    grid-area: 3/3;
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black;     
}
#wheelContainer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    grid-area: 4/1;
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black;     
}
#windshieldContainer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    grid-area: 4/2;
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black;    
}
#compContainer{
    display: grid;
    column-gap: 4rem;
    row-gap: 4rem;
    place-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-family:'Roboto Condensed';
    padding: 2rem;
    color: white;
    font-size: 1rem;
}
.options{
    font-family: 'Roboto Condensed';
    background-color: transparent
    
}
#printButton{
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(39, 84, 138)
        );
    border-radius: 10px;
    box-shadow:  0 0 10px black; 
    font-size: 2rem;    
    font-family: 'Roboto Condensed';
    color: white;
    font-weight: 500;
}
