#financeQuestion{
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto Condensed';
    padding: .5rem;
}
#financeContainer{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin: .5rem;
}
.statmentsContainer{
    background-image:linear-gradient(rgb(175, 131, 59),rgb(221, 168, 83),rgb(175, 131, 59));
    font-size: 2.5rem;
    font-family: 'Roboto Condensed';
    padding: 2rem;
    text-align: center;
}
.statment{
    transition: all .5s ease;
    padding: .5rem;
}
.statment:hover{
    background-color: white;
    color: rgb(39, 84, 138);

}
#moreInfo{
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto Condensed';
}