#navContainer{
    background-color: rgb(221, 168, 83);
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#navLinks{
    display: flex;
    column-gap: 10px;
    font-family: 'bebas neue';
    font-size: 2rem;
    
    
}
#navLinks a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#logoutButton{
    background: none;
    border: none;
    font-family: 'bebas neue';
    font-size: 2rem;
    color: white;

}
