body{
    background-image: linear-gradient(
        rgb(24, 59, 78),
        rgb(39, 84, 138),
        rgb(245, 238, 220),
        rgb(39, 84, 138)
        );
    background-repeat: no-repeat;
    background-attachment: fixed;
}